body{
    background-color: black;
}
nav{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 23px;
}
.navElement{
    text-decoration: none;
    color: black;
    font-size: 23px;
    border: 2px solid black;
    padding: 10px 40px;
    border-radius: 10px;
}
.navElement:hover{
    background-color: grey;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projectBtns{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 23px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px 40px;
    border-radius: 10px;
    margin: 20px;
}
.projectBtns:hover{
    background-color: rgb(240, 205, 205);
    color: rgb(0, 0, 0);
}
.heading{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

/* ------------------------------------project 1------------------------------------------ */
.containerinprojects{
    display: flex;
    justify-content: center;
    margin: 100px;
}
.button{
    border: 2px solid black;
    margin: 20px;
    padding: 50px;
}
.button:hover{
    cursor: pointer;
}
#grey{
    background-color: grey;
}
#blue{
    background-color: blue;
}
#green{
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#white{
    background-color: white;
}
/* #project-2 */
/* ------------------------------------------------------------- */
#calculate{
    padding: 5px 30px;
    font-size: 1em;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#calculate:hover{
    cursor: pointer;
    background-color: rgb(253, 253, 204); 
    color: black;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#results{
    margin:15px;
}

/* /----------------------------------------------- */

/* 3rd project */

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
    margin-top: 10px;
    border-radius: 10px;
}


/* ----------------------------------------------------- */

/* 4th project  */


